<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<body class="container">

<header>
  <%- include('./header'); %>
</header>

<main>
  <div class="jumbotron">
    <h2>Admin panel</h2>
    <h4>Read file log</h4>
  </div>
  
  <div class="container"> 
    <% users.forEach(user => { %> 
    <ul>
      <li><span class="d-block p-2 bg-primary text-white">Dagur : <%= user.dagur %> |  Tima: <%= user.tima %> | Do what: <%= user.virkja %> </span></li>
    </ul>
    <% }) %> 
  </div>
</main>

<footer>
  <%- include('./footer'); %>
</footer>

</body>
</html>