<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<body class="container">

<header>
  <%- include('./header'); %>
</header>

<main>
  <div class="jumbotron">
    <h2>Welcome to distance course - online</h2>
    <h4>Edit course</h4>
  </div>

  <div class="container"> 
    <p><a class="btn btn-secondary" href="/addArt" role="button">Add new course</a></p>
    <div class="row">
      <% arts.forEach(art => { %>

      <div class="col-md-4">
        <h2><%= art.name %></h2>
        <ul>
          <li><strong><%= art.title %></strong></li>
          <li><strong><%= art.price %></strong></li>
          <li><strong><%= art.start_dagur %></strong></li>
          <li><strong><%= art.last_dagur%></strong></li>
          <li><strong><%= art.nafn %></strong></li>
        </ul>
        
          <div class="row">
            <div class="col-md-6">
              <p><a class="btn btn-secondary" href="/update/<%= art.id %>" role="button">Update</a></p>
            </div>
            <div class="col-md-6">
              <p><a class="btn btn-secondary" href="/deleteArt/<%= art.id %>" onclick="return confirm('Are you sure you want to delete?')" role="button">Delete</a></p>
            </div>
          </div>

    </div>
    <% }) %>
      <hr>
    </div> 
  </div>

</main>

<footer>
  <%- include('./footer'); %>
</footer>

</body>
</html>