<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<body class="container">

<header>
  <%- include('./header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to art sale - online</p>
  </div>

  <div class="container"> 
    <p><a class="btn btn-secondary" href="/addArt" role="button">Add new art</a></p>
    <div class="row">
      <% arts.forEach(art => { %>

      <div class="col-md-4">
        <h2><%= art.name %></h2>
        <ul>
          <li><strong><%= art.name %></strong></li>
          <li><strong><%= art.price %></strong></li>
          <li><strong><%= art.year %></strong></li>
          <li><strong><%= art.artist %></strong></li>
        </ul>
        
          <div class="row">
            <div class="col-md-6">
              <p><a class="btn btn-secondary" href="/update/<%= art.id %>" role="button">Update</a></p>
            </div>
            <div class="col-md-6">
              <p><a class="btn btn-secondary" href="/deleteArt/<%= art.id %>" onclick="return confirm('Are you sure you want to delete this user?')" role="button">Delete</a></p>
            </div>
          </div>

    </div>
    <% }) %>
      <hr>
    </div> 
  </div>

</main>

<footer>
  <%- include('./footer'); %>
</footer>

</body>
</html>