<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<body class="container">

<header>
  <%- include('./header'); %>
</header>

<main>
  <div class="jumbotron">
    <h3>Welcome to art sale - online</h3>
  </div>

  <div class="container"> 
    <div class="row">
      <% arts.forEach(art => { %>

      <div class="col-md-4">
        <h2><%= art.name %></h2>
        <ul>
          <li><strong><%= art.title %></strong></li>
          <li><strong><%= art.price %></strong></li>
          <li><strong><%= art.start_dagur %></strong></li>
          <li><strong><%= art.last_dagur%></strong></li>
          <li><strong><%= art.nafn %></strong></li>
        </ul>
        <p><a class="btn btn-secondary" href="#" role="button">Buy</a></p>
    </div>
    <% }) %>
      <hr>
    </div> 
  
  </div>

</main>

<footer>
  <%- include('./footer'); %>
</footer>

</body>
</html>