<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head'); %>
</head>
<body class="container">

<header>
  <%- include('./header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Update art</h1>
  </div>

  <div class="container"> 
    <div class="row">
      <div class="col-md-4">
        <ul>
          <li><strong><%= arts.id %></strong></li>
          <li><strong><%= arts.name %></strong></li>
          <li><strong><%= arts.price %></strong></li>
          <li><strong><%= arts.year %></strong></li>
          <li><strong><%= arts.artist %></strong></li>
        </ul>
        <p><a class="btn btn-secondary" href="#" role="button">Update</a></p>
    </div>
      <hr>
    </div> 
  </div>

  <!-- 
  <div class="container"> 
    <form action="/addNewArt" method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Name of art</label>
        <input type="text" class="form-control" id="name" name="name" >
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="text" class="form-control" id="price" name="price">
      </div>
      <div class="mb-3">
        <label for="year" class="form-label">Year</label>
        <input type="text" class="form-control" id="year" name="year">
      </div>
      <div class="mb-3">
        <label for="artist" class="form-label">Artist</label>
        <input type="text" class="form-control" id="artist" name="artist">
      </div>
      <button class="btn btn-secondary" type="submit">Add</button>
    </form>
  </div>
  -->
</main>

<footer>
  <%- include('./footer'); %>
</footer>

</body>
</html>